Dashboard Mailer v 2.0.zip
.vs/slnx.sqlite
.vs/CORE-Common-Dashboard-Mailer/v16/.suo
Server/Configuration/Automation/Workflows/Dashboard Mailer v1.1.zip
Server/Configuration/Automation/Workflows/Dashboard Mailer/app.js.txt
/Dashboard Mailer v3.0.zip
/WebUI/IIS/Automation/Workflows/Dashboard Mailer Config.zip
